/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background: black;
    color: lime;
    /* font-family: monospace; */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: auto;
}

.mainBody {
    /* background: #39464E; */
    /* background: #1f2227; */
    background: black;
    color: white;
    width: auto;
}

/* NAV SECTION */

.homeHeaderWrap {
    background:white;
    margin:0;
    display:flex;
    justify-content:center;
    
}

.homeHeader {
    background: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    height: 30px;
    align-items: center;
    overflow: hidden;
    transition: all .2s ease-out;
}

.homeHeader span {
    padding-right: 30px;
}

.marquee {
    height: 30px;
    width: 100%;
    /* border: 2px solid #eee; */
    overflow: hidden;
    /* box-sizing: border-box; */
    position: relative;
    margin: 0px auto;
    background:black;
}

.marquee--inner {

    display: block;
    width: 200%;
    /* margin: 70px 0; */
    position: absolute;
    animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.topHeader {
    background: black;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

nav {
    grid-column: 1/6;
    text-align: center;
}

nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.headerNav a{
    color: lime;
    font-size: 20px;
    text-decoration: none;
}

/* TITLE SCREEN */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.fullCenter {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
}

.inputText {
    color: white;
    caret-color: lime;
    background: transparent;
    outline: none;
    border: none;
    /* font-family: monospace; */
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.content {
    margin: 30px;
}

.centerRow {
    display: flex;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.catButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
}

.catButton1:hover {
    background: cyan;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.catButton2:hover {
    background: crimson;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.catButton3:hover {
    background: cyan;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.catButton4:hover {
    background: crimson;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.blogButton {
    border-radius: 5px;
    width: 5%;
}

.blogButton h2 {
    font-size: 20px;
}

.blogButton:hover {
    background: purple;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.selectedBlog {
    background: purple;
    color: white;
    border-color: black;
}

.blogDetails {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.backAndForth {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.exerButton {
    border-radius: 5px;
    width: 5%;
}

.exerButton h2 {
    font-size: 20px;
}

.exerButton:hover {
    background: blue;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.selectedExer {
    background: blue;
    color: white;
    border-color: black;
}

.exerDetails {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.story-link {
    color: red;
    text-decoration: none;
}

.story-link:hover {
    background-color: white;
}

.story-narative {
    color: yellow;
}

.projButton {
    border-radius: 5px;
    width: 5%;
}

.projButton h2 {
    font-size: 20px;
}

.projButton:hover {
    background: brown;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.selectedProj {
    background: brown;
    color: white;
    border-color: black;
}

.projDetails {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.contactInfo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contactButton {
    border-radius: 10px;
    /* width: 350px; */
}

.contactButton h2 {
    font-size: 20px;
    padding: 8px;
}

.contactButtonEmail:hover {
    background: crimson;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.contactButtonLinkedIn:hover {
    background: #0077B5;
    opacity: 80%;
    border-color: black;
    cursor: pointer;
}

.experiences {
    /* background-color: #1e1e1e; */
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
}

.experiences hr {
    background-color: #152238;
    /* background-color: white; */
    height: 3px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.experience-future {
    margin-top: 75px;
}

.experience {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.experienceCol1 {
    grid-column: 2/5;
    justify-content: center;
}

.experienceCol2 {
    grid-column: 6/13;
}

.companyLogo {
    margin-top: 10px;
}
.companyLogo img {
    /* width: 200px; */
    max-width: 300px;
    max-height: 50px;
}

.position {
    font-weight: bold;
}

.company {
    font-weight: bold;
}

.projects {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 50px;
}

.projects hr {
    background-color: #152238;
    height: 3px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.meBox {
    border: 2px solid #152238;
    border-radius: 10px;
    /* background-color: black; */
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* MATTER */







/* --------- FUNKO POPS --------- */

.funkoBody {
    /* background: white; */
    /* width: 100%; */
    /* height: 1000px; */
    /* width: auto; */
    /* position: absolute; */
    /* background-repeat: no-repeat; */
    color: black;
    background: url("funko/img/background.jpeg") no-repeat fixed;
    background-size: cover;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.popFigure img{
    height: 150px;
    width: auto;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
}

.popFigure img:hover {
    cursor: pointer;
}

.shelf {
    box-shadow: 2px 5px 10px rgb(0, 173, 238);
}

.shelfRow {
    margin-top: 50px;
}

.funkoLogoHeader {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.funkoLogoHeader img {
    height: 120px;
    width: auto;
    margin-top: 20px;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}
  
/* tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* text position */
    position: absolute;
    bottom: 102%;
    right: 50%;
    /* left: 50%; */
    z-index: 1;
}
  
/* tooltip hover effect */
.tooltip:hover .tooltiptext {
    visibility: visible;
}













/* OLD FUNKO PAGE */

.funkoTopHeader {
    background: black;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.funkoNav {
    grid-column: 1/4;
    text-align: center;
}

.funkoNav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.funkoHeaderNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.funkoHeaderNav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.funkoContent {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
}

.funkoItem {
    text-align: center;
    padding: 40px;
}

.funkoItem img {
    width: 200px;
}






.disabled {
    pointer-events: none;
}







/* Hyperspace */

/* .wall{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
    background-size: cover;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background: #000;
    text-align: center;
}
  
body:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.scene{
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
}
  
.wrap{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 12s infinite linear;
    animation-fill-mode: forwards;
}

.wrap:nth-child(2){
    animation: move 12s infinite linear;
    animation-delay: 6s;
}

.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 12s infinite linear;
    animation-delay: 0;
}

.wrap:nth-child(2) .wall {
    animation-delay: 6s;
}

.wall-right {
    transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
    transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
    transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
    transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
    0%{
        transform: translateZ(-500px) rotate(0deg);
    }
    100%{
        transform: translateZ(500px) rotate(0deg);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} */








/* .inputText {
    background: transparent;
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
    opacity: 1;
    border: none;
    outline: none;
    caret-color: lime;
}

.inputText::placeholder {
    color: white;
}

.cursor	i {
	position: absolute;
	width: 7px;
    height: 15px;
	background-color: lime;
	left: 5px;
	top: 10%;
	-webkit-animation: blink 0.8s infinite;
	opacity: 1;
}

.inputText input:focus + i {
	display: none;
}
  
@-webkit-keyframes blink {
    0% {background: black}
    50% {background: lime}
    100% {background: black}
}  */