/*
h1,
h2,
h3, 
.heading-style {
    text-shadow: 2px 2px #ff0000;
    font-style: italic;
    font-family: 'Fraunces', serif;
}
*/

body {
    background-color: #121212;
    color: white;
    font: 100% system-ui;
}

h1 {
    color: orange;
}

a {
    color: cyan;
}

.unique-class {
    text-shadow: 2px 2px blue;
    text-decoration: underline;
    text-transform: capitalize;
}

.red-text {
    color: red;
}

.story-link {
    color: red;
    text-decoration: none;
}

.story-link:hover {
    background-color: white;
}

.story-narative {
    color: yellow;
}