body {
    background: black;
    color: lime;
    font-family: monospace;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: auto;
}

.mainBody {
    /* background: #39464E; */
    background: #1f2227;
    color: white;
    width: auto;
}

/* NAV SECTION */

.topHeader {
    background: black;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

nav {
    grid-column: 1/6;
    text-align: center;
}

nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.headerNav a{
    color: lime;
    font-size: 20px;
    text-decoration: none;
}

/* TITLE SCREEN */

h1 {
    font-size: 40px;
}

.fullCenter {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
}

.inputText {
    color: white;
    caret-color: lime;
    background: transparent;
    outline: none;
    border: none;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.content {
    margin: 30px;
}










/* .inputText {
    background: transparent;
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
    opacity: 1;
    border: none;
    outline: none;
    caret-color: lime;
}

.inputText::placeholder {
    color: white;
}

.cursor	i {
	position: absolute;
	width: 7px;
    height: 15px;
	background-color: lime;
	left: 5px;
	top: 10%;
	-webkit-animation: blink 0.8s infinite;
	opacity: 1;
}

.inputText input:focus + i {
	display: none;
}
  
@-webkit-keyframes blink {
    0% {background: black}
    50% {background: lime}
    100% {background: black}
}  */